.main-content {
  font-size: 1rem;
  max-width: 500px;
  align-self: start;
}

.main-content article {
  margin-bottom: 1.5rem;
}

.main-content img {
  max-width: 100%;
  margin-bottom: 0.75rem;
}

.article-title {
  font-size: 1.4rem;
  order: -2;
}

.article-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(7, 57, 131);
}

.article-feature .article-info,
.article-feature img {
  order: -1;
}

.article-info {
  display: flex;
}

.publish-date::after {
  margin: 0.3rem;
  content: "|";
}

.article-recent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.article-recent-secondary {
  order: -1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article-recent-main p,
.article-feature p {
  font-size: 0.9rem;
}

.main-content .continue,
.main-content .article-info p {
  font-size: 0.875rem;
}

.continue:hover,
.continue:focus {
  cursor: pointer;
  color: rgb(5, 28, 61);
  text-decoration: underline;
}

.article-recent .article-info {
  align-self: end;
  margin-bottom: 0;
}

.article-recent-main {
  margin-top: 0;
}

.article-recent .continue {
  margin-bottom: 0;
}

.article-recent-secondary img {
  align-self: start;
  height: 200px;
}

@media screen and (min-width: 500px) {
  .article-recent-main {
    margin-top: -4.5em;
  }
}

@media screen and (min-width: 800px) {
  .main-content {
    align-items: center;
  }
  .article-title {
    order: 0;
  }
  .article-recent-main {
    margin-top: 0;
  }

  .article-recent .article-info {
    margin-bottom: 0;
  }

  .article-recent {
    flex-direction: row;
  }

  .article-recent-secondary img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  main {
    width: 65%;
  }
} ;
