main {
  font-family: "Lora", serif;
}

.main-content {
  max-width: 900px;
  width: 90%;
}

.image-full {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.main-header {
  font-size: 1.8rem;
  font-weight: normal;
  color: rgb(7, 57, 131);
  margin-bottom: 0;
}

.secondary-header {
  font-size: 1.6rem;
  font-weight: normal;
  color: rgb(12, 99, 231);
}

main p {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .article-recent-main {
    margin-top: -4.5em;
  }

  .article-recent .article-info {
    margin-bottom: 0;
    align-self: end;
  }
}

@media screen and (min-width: 800px) {
  .article-title {
    order: 0;
  }
  .article-recent-main {
    margin-top: 0;
  }

  .article-recent .article-info {
    margin-bottom: 0;
    align-self: start;
  }

  .article-recent {
    flex-direction: row;
  }

  .article-recent-secondary img,
  .article-recent-secondary .article-info {
    align-self: center;
  }

  .main-content {
    width: 65%;
    align-self: start;
  }
} ;
